{% block iphp_file_widget %}


    <div {{ block('widget_container_attributes') }}>

        {% if form.file is defined %}
            {{ form_widget(form.file) }}
        {% endif %}

        {# if was upload error value is uploadedFile and originalName no exists#}
        {% if file_data and  file_data.originalName is defined %}
            {% if file_data.type is defined %}
                {% if file_data.type == 'image' %}
                    {% set fileUrl =   file_data.path %}
                {% elseif file_data.type == 'video' %}
                    {% set fileUrl =   file_data.thumb %}
                {% endif %}
            {% else %}
                {% set fileUrl =   file_data.path %}
            {% endif %}

            {% if show_preview and file_data.width is defined %}
                {% block iphp_file_widget_image_preview %}

                    <div style="float: left; margin-right: 15px;" class="iphp_file_widget_image_preview">
                        {% if file_data.type is defined %}
                        {% if file_data.type == 'image' %}
                        <a href="{{ fileUrl }}" target="_blank" class="fancybox" style="position: relative; display: block">
                            <span style="position: absolute; top: 5px; right: 10px; width: 14px; height: 14px; color: white">
                                <i class="fa fa-image"></i>
                            </span>
                            {% elseif file_data.type == 'video' %}
                            <a href="{{ file_data.path }}" target="_blank" data-fancybox data-type="iframe"
                               data-src="{{ file_data.path }}" style="position: relative; display: block">
                                <span style="position: absolute; top: 5px; right: 10px; width: 14px; height: 14px; color: white">
                                    <i class="fa fa-video-camera"></i>
                                </span>
                                {% endif %}
                                {% else %}
                                <a href="{{ fileUrl }}" target="_blank" class="fancybox" style="position: relative; display: block">
                                    <span style="position: absolute; top: 5px; right: 10px; width: 14px; height: 14px; color: white">
                                        <i class="fa fa-image"></i>
                                    </span>
                                    {% endif %}
                                    <img
                                            src="{{ asset(fileUrl) | imagine_filter('thumb') }}"
                                            width="{{ file_data.width > 120 ? 120 :  file_data.width }}" border="0"
                                            class="img-thumbnail">
                                </a>
                    </div>

                    <div>
                        {% trans %}File resolution{% endtrans %}:
                        {{ file_data.width ~ 'x' ~ file_data.height }}
                    </div>
                {% endblock iphp_file_widget_image_preview %}
            {% endif %}



            {% block iphp_file_widget_file_info %}
                <div>

                    {% block iphp_file_widget_file_link %}
                        <div>
                            {% trans %}File url{% endtrans %}:
                            <a href="{{ fileUrl }}" target="_blank" class="full-img-link">{{ file_data.fileName }}</a>
                        </div>
                    {% endblock iphp_file_widget_file_link %}

                    {% block iphp_file_widget_file_attrs %}
                        <div>
                            {% trans %}File size{% endtrans %}:
                            {{ file_data.size /1000 }} Kb
                        </div>

                        {% if file_data.originalName !=  file_data.fileName %}
                            <div>
                                {% trans %}Original file name{% endtrans %}:
                                <strong>{{ file_data.originalName }}</strong>
                            </div>
                        {% endif %}
                    {% endblock iphp_file_widget_file_attrs %}


                    {% if form.delete is defined %}
                        {% block iphp_file_widget_file_delete %}
                            <div>
                                {{ form_row (form.delete, {'label_attr' : { 'style' :'width:auto;padding-right:10px' }}) }}
                            </div>
                        {% endblock iphp_file_widget_file_delete %}
                    {% endif %}

                </div>
            {% endblock iphp_file_widget_file_info %}




        {% endif %}


        {% block iphp_file_widget_end %}
            <div style="clear: both"></div>
        {% endblock iphp_file_widget_end %}

    </div>


{% endblock iphp_file_widget %}